export(check_missing_df)
export(check_rprofile)
export(is_defined)
export(is_missing)
export(make_percentage)
export(df_to_md)
#importFrom(xml2,read_html)
export(transpose_df)

importFrom(dplyr,enquo)
importFrom(dplyr,everything)
importFrom(dplyr,mutate)
importFrom(dplyr,select)
importFrom(dplyr,summarise_all)
importFrom(magrittr,"%>%")
importFrom(tibble,rownames_to_column)
importFrom(tidyr,gather)
importFrom(tidyr,spread)
importFrom(tidyr,unite)

#importFrom(dplyr,"!!")